# I am on MacOS
.DS_Store
# Dependency directory
node_modules
# Not my .env config
.env
# Not my config.js (Left for dev purposes be careful!
# config.json
# Not production ready files
dist
build
# Not my logs
*.log
# No locks too
yarn-error.log
# No nyc
.nyc_output
*.log.gz

# Not my logs
logs

coverage
